<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <!--Models-->
      <typeAlias alias="IRestaurant" type="Infrastructure.Interfaces.IRestaurant, Infrastructure" />
      <typeAlias alias="Restaurant" type="Infrastructure.BusinessEntities.Restaurant, Infrastructure" />
      <typeAlias alias="IReview" type="Infrastructure.Interfaces.IReview, Infrastructure" />
      <typeAlias alias="Review" type="Infrastructure.BusinessEntities.Review, Infrastructure" />
      
      <typeAlias alias="IDataAccessLayer" type="Infrastructure.Interfaces.IDataAccessLayer, Infrastructure" />
      <typeAlias alias="XmlDataAccessLayer" type="XmlDataAccessLayer.DataAccessLayer, XmlDataAccessLayer" />
      <typeAlias alias="EFDataAccessLayer" type="EFDataAccessLayer.DataAccessLayer, EFDataAccessLayer" />
    </typeAliases>
    <container>
      <register type="IRestaurant" mapTo="Restaurant" />
      <register type="IReview" mapTo="Review" />
      <register type="IDataAccessLayer" mapTo="XmlDataAccessLayer" />
    </container>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RestaurantDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="RestaurantsXMLFilePath" value="Resaurants.xml" />
    <add key="ReviewsXMLFilePath" value="Reviews.xml" />
  </appSettings>
</configuration>